@import "../../../../assets/styles/variable.scss";

.container {
  background-color: $red;
  color: $white;
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial;
  width: 100%;
  padding: 10px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 11;

  .home {
    display: flex;
    transition: 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  ul {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 22px;

    li {
      margin-right: 30px;
      img {
        height: 70px;
        width: 150px;
        margin-top: 5px;
      }

      a {
        text-decoration: none;
        list-style: none;
        color: unset;
      }

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        margin-right: 1px;
        height: 28px;
      }
    }
  }
}

@media (max-width: 450px) {
  .container {
    font-size: 15px;

    ul {
      li {
        img {
          margin-left: -10px;
        }
        margin-right: 10px;

        &:first-child {
          margin-right: 50px;
        }

        &:last-child {
          margin-left: 20px;
        }
      }
    }
  }
}
