.container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #f1f1f1;
  bottom: 0;
  // position: fixed;
  width: 100%;
  background-color: rgb(236, 29, 36);
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial,
    sans-serif;
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
