.container {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  .images {
    overflow: hidden;
    display: flex;
    border-radius: 0 0 0 5px;
    margin-top: 8px;
    height: 400px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #fff;
    gap: 2px;
    margin-bottom: 10px;

    .chracterName {
      background-color: rgb(236, 29, 36);
      text-align: center;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      padding: 4px;
    }
  }
}

@media (max-width: 1810px) {
  .container {
    width: 250px;
    margin-bottom: 30px;
    display: inline-flex;
    .image {
      width: 160px;
    }
  }
}

@media (max-width: 1100px) {
  .container {
    min-width: 200px;
    margin-bottom: 30px;
    display: inline-flex;
    .image {
      width: 150px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    min-width: 100px;
    margin-bottom: 30px;
    display: inline-flex;
    .image {
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width: 450px) {
  .container {
    &:last-child {
      margin-bottom: 30px;
      display: inline-flex;
    }
  }
}
