.container {
  background-color: #f5ce62;
  border-radius: 8px;
  padding-bottom: 10px;
  .images {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
  }
  .heading {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 4px;
  }
  .subheading {
  }
}
