* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  bottom: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: 57abac4ascale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.defaultTheme {
  background-color: #57abac4a;
  color: bisque !important;
}

.darkTheme {
  background-color: #060e0e9c;
  color: chartreuse !important;
}
