%boxshadow {
  box-shadow: 4px 4px 9.6px #a09999, 0 8px 18px #000000;
}

.container {
  display: flex;
  text-transform: uppercase;
  font: 500 44px/1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial,
    sans-serif;
  transition: font-size 0.2s;
  background-size: contain;
  background-color: #fff;
  height: 565px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h1 {
    display: flex;
    width: 300px;
    height: 350px;
  }

  .content {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;

    &::before {
      z-index: 9;
      pointer-events: none;
      -webkit-user-select: none;
      user-select: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background: url(../../common/media/images/rain.gif);
    }

    @keyframes rain {
      0% {
        background-position: 0 0;
        filter: hue-rotate(150deg);
        filter: drop-shadow(180deg);
      }
      100% {
        background-position: 20% 100%;
        filter: hue-rotate(350deg);
        filter: drop-shadow(360deg);
      }
    }
  }
}
